/* ParagraphWordCounter.css */

.counter-box {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 300px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  margin-bottom: 15px;
}
